#content
	-if @currentvisitor != nil
		%h2="You (#{@currentvisitor.ip_address})"
		%h4#lnglat{:style=> "text-align:center"}= "#{@currentvisitor.latitude}, #{@currentvisitor.longitude}"
	.clearfix
		#map{:style=>"width:100%"}
		#directions{:style=>"width:100%;text-align:left"}
	-if @previousvisitor != nil
		%h2="Previous visitor (#{@previousvisitor.ip_address})"
		%h4#prev_lnglat{:style=> "text-align:center"}= "#{@previousvisitor.latitude}, #{@previousvisitor.longitude}"
		%span#prev_lng{:style => "display:none"}="#{@previousvisitor.longitude}"
		%span#prev_lat{:style => "display:none"}="#{@previousvisitor.latitude}"
	-else
		%h2 Error retrieving previous visitor (defaulting to Cancun)
		%span#prev_lng{:style => "display:none"}="Cancun,Mexico"
		%span#prev_lat{:style => "display:none"}=""

:javascript
	var lat = #{@currentvisitor.latitude};
	var lng = #{@currentvisitor.longitude};
	
	var current_id = #{@currentvisitor.id}
