#content
	-if @currentvisitor != nil
		%h2
			="You (#{@currentvisitor.ip_address},"
			%span#lnglat= "#{@currentvisitor.latitude}, #{@currentvisitor.longitude}"
			)
	.clearfix
		#map{:style=>"float:right;width:100%"}
		#directions{:style=>"width:100%;text-align:left"}
	-if @previousvisitor != nil
		%h2
			="Previous visitor (#{@previousvisitor.ip_address}"
			%span#prev_lnglat= "#{@previousvisitor.latitude}, #{@previousvisitor.longitude}"
			)
		%span#prev_lng{:style => "display:none"}="#{@previousvisitor.longitude}"
		%span#prev_lat{:style => "display:none"}="#{@previousvisitor.latitude}"
	-else
		%h2 Error retrieving previous visitor (defaulting to Cancun)
		%span#prev_lng{:style => "display:none"}="Cancun,Mexico"
		%span#prev_lat{:style => "display:none"}=""

:javascript
	var lat = #{@currentvisitor.latitude};
	var lng = #{@currentvisitor.longitude};
	
	var current_id = #{@currentvisitor.id}
