#content{:style => 'display:none'}
	%h1#title Directions to Last Visitor
	#map{:style=>"width:800px"}

	-if @currentvisitor != nil
		%h2="You (#{@currentvisitor.ip_address})"
		%h4#lnglat{:style=> "text-align:center"}= "#{@currentvisitor.latitude}, #{@currentvisitor.longitude}"	
		/ %h4{:style=> "text-align:center"}="Just now"
		#directions{:style=>"width:100%"}
	-if @previousvisitor != nil
		%h2="Previous visitor (#{@previousvisitor.ip_address})"
		%h4#prev_lnglat{:style=> "text-align:center"}= "#{@previousvisitor.latitude}, #{@previousvisitor.longitude}"
		/ %h4{:style=> "text-align:center"}=@previoustime
		%span#prev_lng{:style => "display:none"}="#{@previousvisitor.longitude}"
		%span#prev_lat{:style => "display:none"}="#{@previousvisitor.latitude}"
	-else
		%h2 Error retrieving previous visitor (defaulting to Cancun)
		%span#prev_lng{:style => "display:none"}="Cancun,Mexico"
		%span#prev_lat{:style => "display:none"}=""

:javascript
	var lat = #{@currentvisitor.latitude};
	var lng = #{@currentvisitor.longitude};

	var plat = #{@previousvisitor.latitude};
	var plng = #{@previousvisitor.longitude};

	var pip = "#{@previousvisitor.ip_address}";
	
	var current_id = #{@currentvisitor.id};

	//my refferer info, please disregard
	try {
		reinvigorate.track("6995z-x5k9z84bf4");
	} catch(err) {}

	$(document).ready(function() {
		get_location();
	});

